#debug --graphics
default=1
splashimage=@SPLASHPATH@
timeout 10
hiddenmenu
title Unattended Boot ISO {{ inventory_hostname_short }}
	findiso
	kernel @KERNELPATH@ @ROOT@ inst.stage2=hd:LABEL={{ inventory_hostname_short }} modprobe.blacklist=lpfc inst.text ipv6.disable=1 inst.ks=cdrom
	initrd @INITRDPATH@
title Test this media & install CentOS 7
	findiso
	kernel @KERNELPATH@ @ROOT@ rd.live.check quiet
	initrd @INITRDPATH@
